<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="/commons/layui/css/layui.css"/>

<link rel="stylesheet" href="/commons/ztree/css/bootstrapStyle/bootstrapStyle.css"/>

<link rel="stylesheet" href="/commons/selectTree/plugin/css/index.css"/>
<script type="text/javascript" src="/commons/jq/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/commons/commons.js"></script>
<script type="text/javascript" src="/commons/layui/layui.all.js"></script>
<script type="text/javascript" src="/commons/ztree/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src="/commons/dateFormat.js"></script>
<script type="text/javascript" src="/commons/selectTree/plugin/js/selectTree.js"></script>

    <title>Title</title>
</head>
<body>
<table class="layui-hide" id="brandData" lay-filter="brandData"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>
<script type="text/html" id="toolbarBtn">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addBrand">新增品牌</button>
    </div>
</script>
    <script type="text/javascript">
        //数据表格初始化方法
        layui.use('table', function(){
          var table=layui.table;
          table.render({
              elem: '#brandData'
              ,url:'http://localhost:8090/queryBrand'
              ,toolbar: '#toolbarBtn'
              ,title: '品牌数据表'
              ,page: true
              ,cols: [[
                  {type: 'checkbox', fixed: 'left'}
                  ,{field:'brandName',align:"center", title:'品牌名称', fixed: 'left'}
                  ,{field:'telephone',align:"center", title:'联系电话', fixed: 'left'}
                  ,{field:'brandWeb',align:"center", title:'品牌网站', fixed: 'left'}
                  ,{field:'cateName',align:"center", title:'品牌类型', fixed: 'left'}
                  ,{field:'brandLogo',align:"center", title:'品牌LOGO', fixed: 'left',                                           templet:function(d){
                                        if(d.brandLogo != null){
                                            return "<img src='"+d.brandLogo+"'/>";
                                        }else{
                                            return "";
                                        }
                                }}
                  ,{field:'brandStatus',align:"center", title:'品牌状态', fixed: 'left',
                    templet:    function(d){
                        if(d.brandStatus == 1){
                            return "公开";
                        }else{
                            return '不公开';
                        }
                    }}
                  ,{field:'modifiedTime',align:"center", title:'修改时间', fixed: 'left',
                      templet:function(d){
                          if(d.modifiedTime != null){
                              return new Date(d.modifiedTime).Format("yyyy-MM-dd hh:mm:ss");
                          }else{
                              return '';
                          }
                      }}
                  ,{fixed: 'left', title:'操作',align:"center", toolbar: '#barDemo'}
              ]]

          })

            //监听工具栏时间
            table.on('toolbar(brandData)',function (obj) {
                switch(obj.event) {
                    case 'addBrand':
                            addBrand(null,"增加品牌信息");
                        break;

                }
            })

            table.on('tool(brandData)',function (obj) {
                var data=obj.data;
                if(obj.event === 'edit'){
                            var brandid=data.brandId;
                            addBrand(brandid,'修改品牌');
                            return;
                }
                
            })


            /**
             * 新增表单
             * @param bid
             * @param title
             */
            function addBrand(bid,title){
                  var params={};
                  params.brandId=bid;
                $.ajaxSettings.async=false;
                $.post("<%=request.getContextPath()%>/toEditBrand",params,function (result) {
                    layer.open({
                        type: 1,
                        offset: 'auto',
                        title: title,
                        area: ['58%', '80%'],
                        overflow:'auto',
                        scrollbar:true,
                        content: result,
                        success:function () {
                           var  cids=$("#categroyIds").val();
                           if(cids != null && cids != ""){
                                    var idss=cids.split(",");
                                    var cateTree=$.fn.zTree.getZTreeObj("brandTypeTree");
                                    for (var i=0;i<idss.length;i++){
                                        var treeNode=cateTree.getNodeByParam("id",idss[i]);
                                        cateTree.setting.callback.onClick(null,cateTree.setting.treeId,treeNode);
                                    }
                           }
                        }
                    });

                })


            }
        })
    </script>
</body>
</html>
